In [1]:
import pandas as pd

from pathlib import Path
import csv

In [2]:
data = pd.read_csv(
    Path("Resources/sec_ftd_1.csv"),
    index_col=False
)
data.head()

  SETTLEMENT DATE|CUSIP|SYMBOL|QUANTITY (FAILS)|DESCRIPTION|PRICE
0  20210816|B38564108|EURN|33389|EURONAV NV ANTWE...
1  20210816|C00948106|AGRI|7719|AGRIFORCE GROWING...
2  20210816|D18190898|DB|66551|DEUTSCHE BANK AG N...
3  20210816|G0R21B112|ACTDW|495|ARCLIGHT CLEAN TR...
4  20210816|G00748114|STWOW|3700|ACON S2 ACQUISIT...

In [3]:
#data.rename(columns={header:'SETTLEMENT_DATE,CUSIP,SYMBOL,QUANTITY_FAILS,DESCRIPTION,PRICE'},inplace=True)
header = "SETTLEMENT DATE|CUSIP|SYMBOL|QUANTITY (FAILS)|DESCRIPTION|PRICE"
data[header] = data[header].str.replace('|',',')
new_data = data.rename(columns={header:'SETTLEMENT_DATE,CUSIP,SYMBOL,QUANTITY_FAILS,DESCRIPTION,PRICE'})
Header = "Header"
new_data = data.rename(columns={header:Header})
new_data

C:\Users\watso\anaconda3\envs\pyvizenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

                                                  Header
0      20210816,B38564108,EURN,33389,EURONAV NV ANTWE...
1      20210816,C00948106,AGRI,7719,AGRIFORCE GROWING...
2      20210816,D18190898,DB,66551,DEUTSCHE BANK AG N...
3      20210816,G0R21B112,ACTDW,495,ARCLIGHT CLEAN TR...
4      20210816,G00748114,STWOW,3700,ACON S2 ACQUISIT...
...                                                  ...
67686  20210831,98986M103,ZYXI,3367,ZYNEX, INC. COMMO...
67687  20210831,98986T108,ZNGA,12398,ZYNGA INC CLASS ...
67688  20210831,98986X109,ZYNE,506,ZYNERBA PHARMACEUT...
67689                         Trailer record count 67689
67690        Trailer total quantity of shares 1978777078

[67691 rows x 1 columns]

In [4]:
new_df = pd.DataFrame()
new_df = new_data.Header.str.split(",",expand=True)
new_df

,0,1,2,3,4,5,6,7
0,20210816,B38564108,EURN,33389,EURONAV NV ANTWERPEN (BELGIUM),7.75,None,None
1,20210816,C00948106,AGRI,7719,AGRIFORCE GROWING SYS LTD COM,2.89,None,None
2,20210816,D18190898,DB,66551,DEUTSCHE BANK AG NAMEN AKT (DE,12.96,None,None
3,20210816,G0R21B112,ACTDW,495,ARCLIGHT CLEAN TRANSITION CORP,1.12,None,None
4,20210816,G00748114,STWOW,3700,ACON S2 ACQUISITION CORP WT EX,1.39,None,None
...,...,...,...,...,...,...,...,...
67686,20210831,98986M103,ZYXI,3367,ZYNEX,INC. COMMON STOCK (NV),13.38,None
67687,20210831,98986T108,ZNGA,12398,ZYNGA INC CLASS A,8.88,None,None
67688,20210831,98986X109,ZYNE,506,ZYNERBA PHARMACEUTICALS INC CO,4.11,None,None
67689,Trailer record count 67689,None,None,None,None,None,None,None
67690,Trailer total quantity of shares 1978777078,None,None,None,None,None,None,None

In [5]:
new_df = new_df.rename(columns={0:'Date',1:'CUSIP',2:'SYMBOL',3:'QUANTITY_FAILS',4:'DESCRIPTION',5:'PRICE'})
new_df

,Date,CUSIP,SYMBOL,QUANTITY_FAILS,DESCRIPTION,PRICE,6,7
0,20210816,B38564108,EURN,33389,EURONAV NV ANTWERPEN (BELGIUM),7.75,None,None
1,20210816,C00948106,AGRI,7719,AGRIFORCE GROWING SYS LTD COM,2.89,None,None
2,20210816,D18190898,DB,66551,DEUTSCHE BANK AG NAMEN AKT (DE,12.96,None,None
3,20210816,G0R21B112,ACTDW,495,ARCLIGHT CLEAN TRANSITION CORP,1.12,None,None
4,20210816,G00748114,STWOW,3700,ACON S2 ACQUISITION CORP WT EX,1.39,None,None
...,...,...,...,...,...,...,...,...
67686,20210831,98986M103,ZYXI,3367,ZYNEX,INC. COMMON STOCK (NV),13.38,None
67687,20210831,98986T108,ZNGA,12398,ZYNGA INC CLASS A,8.88,None,None
67688,20210831,98986X109,ZYNE,506,ZYNERBA PHARMACEUTICALS INC CO,4.11,None,None
67689,Trailer record count 67689,None,None,None,None,None,None,None
67690,Trailer total quantity of shares 1978777078,None,None,None,None,None,None,None